* {
     font-family: Arial Helvetica, sans-serif;
}

/* TTS */
.pause {
     display: none;
}
.pause.show {
     display: block;
}
.resume {
     display: none;
}
.resume.show {
     display: block;
}